/**
 * styling for comments (this will prolly be replaced by disqus)
*/

// #comments
//   margin 50px 0
//   #sidebar &
//     margin 0 0 25px
//   @media (min-width 960px)
//     margin-left 110px
//   img
//     float left
//     margin 0 13px 0 0
//     vertical-align middle

// .comment-link
//   @extends $proxima-uppercase
//   @extends $link-underline
//   -moz-appearance none
//   -webkit-appearance none
//   cursor pointer
//   font-size 14px
//   line-height 20px
//   #sidebar &
//     font-size 12px

// // side comments
// .post-container
//   overflow hidden

// .content-block
//   transition .5s
//   &.active
//     transform translate3d(700px, 0, 0)

.comments-drawer,
#disqus_thread
	display none
  // margin-left 100px
  // position absolute
  // transform translate3d(-725px, 0, 0)
  // transition .5s
  // max-width 475px
  // &.active
  //   transform translate3d(0, 0, 0)




// body.side-comment-test
//   #sidebar
//     right 0
//   .post-container
//     margin 0 0 50px
//     overflow hidden
//     width 620px
//   .content-block
//     @extends $transition-slow
//     margin-right 0
//     overflow visible
//     padding-left 75px
//     &.active
//       transform translate3d(225px, 0, 0)
//       .commentable-section
//         &:hover
//           .marker
//             display none
//         .marker
//           display none

// .side-comments
//   absolute top 0 bottom 0 left 13px
//   padding-right 25px
//   width 40px

// .commentable-section
//   @extends $transition-slow
//   margin-left -75px!important
//   padding-left 75px
//   transform translateZ(0)
//   &:hover
//     .side-comments
//       border-right 1px solid lightest-gray
//     .marker
//       display block

// .annotations,
// .comments-wrap
//   absolute top 0 left -237px
//   width 225px

// .annotations,
// .comments-wrap
//   @extends $transition
//   background white
//   display none
//   opacity 0
//   transform translate3d(0, 10px, 0)
//   z-index 9
//   &.active
//     display block
//     opacity 1
//     transform translate3d(0, 0, 0)
//   .author
//     white-space nowrap
//   .action-link
//     @extends $button-base
//     background lightest-gray
//     float right
//     margin 7px 0 0
//     padding 7px 13px
//     text-align center
//     width 100%
//     &:hover
//       background light-blue
//   .comment-box
//     border 1px solid #efefef
//     clear both
//     width calc(100% - 24px)
//   p
//     font-size 13px
//     line-height 16px
//   .comment
//     border-bottom 1px solid lightest-gray
//     padding 13px 0 0
//     &:last-of-type
//       border-bottom 0


// .marker
//   absolute top 45%
//   background #efefef
//   cursor pointer
//   display none
//   height 20px
//   width 20px
//   &:before
//     @extends $proxima
//     color gray
//     font-size 13px
//     line-height 18px
//     position absolute
//     text-align center
//   &.active
//     display block !important
//     &:before
//       content '-'
//   &:hover,
//   &.active
//     &:before
//       color white
//   span
//     display none

// .comment-count
//   border-radius 2px
//   &:hover,
//   &.active
//     background light-blue
//     &:after
//       border-color light-blue transparent
//   &:before
//     content '+'
//     width 20px
//   &:after
//     absolute bottom -7px left 5px
//     border-color #efefef transparent
//     border-width 10px 0 0 10px
//     border-style solid
//     content ''
//     display block
//     width 0

// .annotation-count
//   background red
//   border-radius 50%
//   top calc(40% - 25px)
//   &:before
//     color white
//     content '1'
//     width 20px


// .comment-marker.author-note
//   background red
//   &.active
//     &:before
//       content '-'
//   &:before
//     color white
//     content '1'
//   &:after
//     border-color red transparent



// .side-comment .marker:before,
// .side-comment .marker span
//   content: "+"
//   display: block
//   position: absolute
//   width: 20px
//   height: 18px
//   line-height: 16px
//   font-size: 14px
//   color: #999
//   text-align: center
// }

// .side-comment .marker span {
//   display: none
//   line-height: 20px
//   font-size: 12px
// }


// .overlay .comment-form
//   absolute left 83px
//   padding 50px
//   top calc(40% + 7px)
//   width 475px

// .comment-form
//   background white
//   box-shadow 0 0 5px #ccc

// .author-name
//   color black
//   float left
//   font-family proxima
//   margin-bottom 7px

// .author-name
//   font-size 15px
//   line-height 16px
//   margin 0 0 7px

// .author-avatar
//   float left
//   height 50px
//   margin 0 13px 0 0
//   width 50px