// alternative to grid view

// #list
// 	background lightest-gray
// 	// &.text-only
// 	// 	li
// 	// 		border-bottom 1px solid lighter-gray
// 	// 		margin-bottom 25px
// 	// 		padding-bottom 25px
// 	// 	.desc
// 	// 		@extend $exchange
// 	// 		margin-left 0
// 	// 		width 100%

// 	// section
// 	// 	@extend $site-container

// 	// li
// 	// 	@extend $clearfix
// 	// 	margin-bottom 13px

// 	// img
// 	// 	clear none
// 	// 	float left
// 	// 	margin 0 13px 0 0
// 	// 	width 25%

// 	// .meta
// 	// 	margin-bottom 4px

// 	// .title
// 	// 	@extends $proxima
// 	// 	font-size 18px
// 	// 	line-height 21px

// 	.desc
// 		line-clamp(3, 26px)
// 		margin-left calc(25% + 13px)
// 		width calc(75% - 13px)