/**
 * General vars, colors, fonts, etc
*/

// Variables
black = #000
white = #fff

// verticals branding
// biz-blue = #0b2d6d
// green = #b7da9a
// orange = #ffbe00
// gear-blue = #7dd8f7
// violet = #4e0a43
// red = #bd4141
// // old red  #f25953

security = #bd4141
// design = #709d98
design = #b1cdbe
// entertainment = #b4d0c1
entertainment = #db7370
gear = #f3e9e0
biz = #ffc000
science = #d87570

// other colors
dark-blue = #12679b
old-blue = #00aeef
light-blue = #b4e7f8
yellow = #fdbc27

// grays
gallery-gray = #222
dark-gray = #333
gray = #666
light-gray = #999
lighter-gray = #ccc
lightest-gray = #f6f6f6
sponsored-gray = #f9f9f9

// fonts
ambroise = 'ambroise', 'Exchange SSm 4r', serif
proxima = 'proxima', HelveticaNeue-Light, 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif
exchange = 'Exchange SSm 4r', Georgia, serif
exchangeItal = 'Exchange SSm 4i', exchange
oxide = 'oxide', proxima
tungsten = 'tungsten', proxima

all-colors = {
  biz-blue: biz,
  green: green,
  orange: orange,
  blue: gear-blue,
  purple: violet,
  red: red,
  dark-blue: dark-blue,
  old-blue: old-blue,
  light-blue: light-blue,
  gallery-gray: gallery-gray,
  dark-gray: dark-gray,
  gray: gray,
  light-gray: light-gray,
  lighter-gray: lighter-gray,
  lightest-gray: lightest-gray,
  sponsored-gray: sponsored-gray
}

// colors hash for applying colors later (like how we do on the live site, via looping and checking for parent classes)
// see nav.styl for an example use case of this
section-colors = {
  business: biz,
  design: design,
  entertainment: entertainment,
  gear: gear,
  science: science,
  security: security
}