<div class="asymmetrical row has-ad" data-items="2">
  <div class="card image-left active">
      <a href="single-gallery.html">
          <img src="/images/design/design-1.jpg">
          <span class="meta">Design</span>
          <h2 class="title">A North Korean Architect’s Crazy Visions of the Future</h2>
      </a>
  </div>
  <div id="spot_c300x250_frame" class='rad' data-rad data-loc='spot_c'  data-sz='300x250' data-kws='spot_c' data-collapse='false' data-cb-ad-id="spot_c300x250_frame"></div>
</div>