<img alt='Wired' id='footer-logo' src='images/wired_logo.gif'>

<ul id='footer-social'>
    <li>
        <a href='#'><img src='images/social/facebook.svg'></a>
    </li>

    <li>
        <a href='#'><img src='images/social/twitter.svg'></a>
    </li>

    <li>
        <a href='#'><img src='images/social/googleplus.svg'></a>
    </li>

    <li>
        <a href='#'><img src='images/social/instagram.svg'></a>
    </li>

    <li>
        <a href='#'><img src='images/social/youtube.svg'></a>
    </li>

    <li>
        <a href='#'><img src='images/social/tumblr.svg'></a>
    </li>

    <li>
        <a href='#'><img src='images/social/vine.svg'></a>
    </li>
</ul>

<ul class='sitemap'>
    <li>
        <a href='#'>Corrections</a>
    </li>

    <li>
        <a href='#'>Site Map</a>
    </li>

    <li>
        <a href='#'>FAQ</a>
    </li>

    <li>
        <a href='#'>Contact Us</a>
    </li>

    <li>
        <a href='#'>Wired Staff</a>
    </li>

    <li>
        <a href='#'>Advertising</a>
    </li>

    <li>
        <a href='#'>Press Center</a>
    </li>

    <li>
        <a href='#'>Subscription Services</a>
    </li>

    <li>
        <a href='#'>Newsletter</a>
    </li>

    <li>
        <a href='#'>RSS</a>
    </li>
</ul>

<p class='fine-print'><span>Use of this site constitutes acceptance of
our user agreement (effective 3/21/12) and privacy policy (effective
3/21/12). Your california privacy rights. The material on this site may
not be reproduced, distributed, transmitted, cached or otherwise used,
except with the prior written permission of
cond&eacute;nast.</span></p>