<div class='row'>
    <div class='col t-col-6 d-col-4'>
        <div class='row'>
            <div class='card business' ui-view='card' wt-section section='business'></div>
            <div class='card gear' ui-view='card' wt-section section='gear'></div>
            <div class='ad'><img src='images/ads/promos_4.jpg'></div>
        </div>
    </div>

    <div class='col t-col-6 d-col-4'>
        <div class='row'>
            <div class='card design' ui-view='card' wt-section section='design'></div>
            <div class='ad'><img src='images/single-cm.jpg'></div>
            <div class='card science' ui-view='card' wt-section section='science'></div>
        </div>
    </div>

    <div class='col t-col-6 d-col-4'>
        <div class='row'>
        <div class='ad'><img src='images/ads/lexus.png'></div>
        <div class='card entertainment' ui-view='card' wt-section section='entertainment'></div>
        <div class='card security' ui-view='card' wt-section section='security'></div>
        </div>
    </div>
</div>